
@{
    ViewBag.Title = "Admission Requirements";
}

<style>
    p {
        padding-left: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h3 {
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: x-large;
    }

    .bigBold {
        font-weight: bold;
        font-size: x-large;
        padding-left: 10px;
    }

    .largeFont {
        font-size: large;
    }
</style>

<h2>General Admission Requirements</h2>

<h3>
    Admission to the undergraduate studies normally requires the following items:
</h3>

<p class="largeFont"><i class="fa fa-check"></i> A cumulative high school grade point average of 3.0 or higher (on a 4.0 scale).</p>
<p class="largeFont"><i class="fa fa-check"></i> The minimum SAT Scores is 1000 or higher.</p>

<h3>Admitted Student Profile</h3>
<p class="largeFont"><i class="fa fa-file-text fa-3x"></i> <span class="bigBold">GPA</span>&nbsp;&nbsp;&nbsp;3.3-3.9 weighted <span class="bigBold">SAT</span>&nbsp;&nbsp;&nbsp;1110-1220</p>