
@{
    ViewBag.Title = "Apply";
}

<style>
    p {
        padding-left: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h4 {
        padding-bottom: 10px;
    }

    .largeFont {
        font-size: large;
    }

    .styleButton a:hover {
        color: #006633;
        font-weight: bold;
    }
</style>

<h2>Ready to apply? Use this checklist as your guide.</h2>

<p class="largeFont">1. Select your program of study.</p>
<p class="largeFont">2. Complete your online application.</p>
<p class="largeFont">3. Complete the FAFSA for all relevant financial aid years. Mason's code is <u>003749</u>.</p>
<p class="largeFont">4. Submit your SAT scores and your high school transcript.</p>
<p class="largeFont">5. Contact an advisor.</p>

<p class="styleButton"><a class="btn btn-default" href="~/Students/Create" style="background-color: #FFCC33;">APPLY NOW &raquo;</a></p>