
@{
    ViewBag.Title = "Check List";
}

<style>
    p {
        padding-left: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h4 {
        padding-bottom: 10px;
    }
</style>

<h2>Things to do next? Use New Student Checklist as your guide.</h2>

<h4>Essentials:</h4>

<p><i class="fa fa-check"></i> Confirm your attendance: Contact your advisor and discuss academic expectations, resources, and graduate orientation requirements</p>

<p><i class="fa fa-check"></i> Sign up for a Patriot Pass account to access Patriot Web, myMason, Library databases, and other campus sites</p>

<p><i class="fa fa-check"></i> Check deadlines and register for classes on Patriot Web</p>

<p><i class="fa fa-check"></i> Get your Mason photo ID</p>

<p><i class="fa fa-check"></i> Activate your email account in MasonLive to receive all official university communications regarding your student status</p>

<p><i class="fa fa-check"></i> Get familiar with the myMason portal for login to Blackboard and your student email account</p>

<p><i class="fa fa-check"></i> Explore Parking & Transportation</p>

<p><i class="fa fa-check"></i> View a map to get familiar with campus and find your classes</p>

<p><i class="fa fa-check"></i> Submit your required Immunization Record</p>

<p><i class="fa fa-check"></i> Check Student Health Services for student health insurance</p>

<p><i class="fa fa-check"></i> Pay your tuition and fees</p>

