
@{
    ViewBag.Title = "Important Deadlines";
}

<style>

    h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h4 {
        padding-bottom: 10px;
    }
</style>

<h2>Important Deadlines</h2>

<h4>Information about important application deadlines.</h4>

<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Non-Binding Early Action Deadline</h4>
        <p class="list-group-item-text label label-warning">November 1</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Honors College Consideration</h4>
        <p class="list-group-item-text label label-warning">November 1</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">University Scholars Consideration</h4>
        <p class="list-group-item-text label label-warning">November 1</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Merit-Based Scholarship Consideration</h4>
        <p class="list-group-item-text label label-warning">November 1</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Regular Decision Deadline</h4>
        <p class="list-group-item-text label label-warning">January 15</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Mason Financial Aid Deadline</h4>
        <p class="list-group-item-text label label-warning">January 15</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Priority Application Deadline (for Spring Semester)</h4>
        <p class="list-group-item-text label label-warning">October 1</p>
    </a>
</div>

