
@{
    ViewBag.Title = "Program Study";
}

<style>
    h4 {
        font-weight: bold;
        color: #006633;
        background-color: #FFCC33;
        text-align: center;
    }
</style>

<h2 id="top">Find Your Program</h2>
<div class="row">
    <div class="col-md-3">
        <h4>A</h4>
        <p>
            Anthropology, BA<br />
            Applied Computer Science, BS<br />
            Applied Science, BAS<br />
            Art and Visual Technology, BA<br />
            Art and Visual Technology, BFA<br />
            Art History, BA<br />
            Astronomy, BS<br />
            Atmospheric Sciences, BS<br />
        </p>
    </div>
    <div class="col-md-3">
        <h4>B</h4>
        <p>
            Bioengineering, BS<br />
            Biology, BA<br />
            Biology, BS<br />
            Business, BS<br />
        </p>
    </div>
    <div class="col-md-3">
        <h4>C</h4>
        <p>
            Chemistry, BA<br />
            Chemistry, BS<br />
            Civil and Infrastructure Engineering, BS<br />
            Communication, BA<br />
            Community Health, BS<br />
            Computational and Data Sciences, BS<br />
            Computer Engineering, BS<br />
            Computer Game Design, BFA<br />
            Computer Science, BS<br />
            Conflict Analysis and Resolution, BA<br />
            Conflict Analysis and Resolution, BS<br />
            Creative Writing, BFA<br />
            Criminology, Law and Society, BA<br />
            Criminology, Law and Society, BS<br />
            Cyber Security Engineering, BS<br />
        </p>
    </div>
    <div class="col-md-3">
        <h4>D</h4>
        <p>
            Dance, BFA
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h4>E</h4>
        <p>
            Early Childhood Education for Diverse Learners, BSEd<br />
            Economics, BA<br />
            Economics, BS<br />
            Electrical Engineering, BS<br />
            Elementary Education, BSEd<br />
            English, BA<br />
            Environmental and Sustainability Studies, BA (CHSS)<br />
            Environmental and Sustainability Studies, BA (COS)<br />
            Environmental Science, BS<br />
        </p>
    </div>
    <div class="col-md-3">
        <h4>F</h4>
        <p>
            Film and Video Studies, BA<br />
            Foreign Languages, BA<br />
            Forensic Science, BS<br />
        </p>
    </div>
    <div class="col-md-3">
        <h4>G</h4>
        <p>
            Geography, BA<br />
            Geography, BS<br />
            Geology, BA<br />
            Geology, BS<br />
            Global Affairs, BA<br />
            Government and International Politics, BA<br />
        </p>
    </div>
    <div class="col-md-3">
        <h4>H</h4>
        <p>
            Health Administration, BS<br />
            Health, Fitness, and Recreation Resources, BS<br />
            History, BA<br />
            Human Development and Family Science, BA (CEHD)<br />
            Human Development and Family Science, BA (CHSS)<br />
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h4>I</h4>
        <p>
            Individualized Study, BIS<br />
            Information Technology, BS<br />
            Integrative Studies, BA<br />
            Integrative Studies, BS<br />
        </p>
    </div>
    <div class="col-md-3">
        <h4>K</h4>
        <p>
            Kinesiology, BS<br />
        </p>
    </div>
    <div class="col-md-3">
        <h4>M</h4>
        <p>
            Mathematics, BA<br />
            Mathematics, BS<br />
            Mechanical Engineering, BS<br />
            Medical Laboratory Science, BS<br />
            Music, BA<br />
            Music, BM<br />
        </p>
    </div>
    <div class="col-md-3">
        <h4>N</h4>
        <p>
            Neuroscience, BS<br />
            Nursing, BSN<br />
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h4>P</h4>
        <p>
            Philosophy, BA<br />
            Physical Education, BSEd<br />
            Physics, BS<br />
            Psychology, BA<br />
            Psychology, BS<br />
            Public Administration, BS<br />
        </p>
    </div>
    <div class="col-md-3">
        <h4>R</h4>
        <p>
            Religious Studies, BA<br />
            Russian and Eurasian Studies, BA<br />
        </p>
    </div>
    <div class="col-md-3">
        <h4>S</h4>
        <p>
            Social Work, BSW<br />
            Sociology, BA<br />
            Special Education, BSEd<br />
            Statistics, BS<br />
            Systems Engineering, BS<br />
        </p>
    </div>
    <div class="col-md-3">
        <h4>T</h4>
        <p>
            Theater, BA<br />
            Theater, BFA<br />
            Tourism and Events Management, BS<br />
        </p>
    </div>
</div>
<a href="#top" style="float: right; color: #006633;">Back to Top</a>